* {
    font-family: "Minecraft", Sans-Serif;
  }
  
  body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    white-space: nowrap;
    padding: 30px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 30px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  .container br {
    content: '';
    display: block;
  }
  
  .nav-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2000;
    font-size: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .nav-menu {
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #333;
    padding: 10px;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-menu ul {
    margin-top: 50px;
    list-style: none;
    padding: 0;
  }
  
  .nav-menu li {
    margin: 10px 0;
  }
  
  .nav-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-menu.open {
    transform: translateX(0%);
  }